# ignore node_modules directory
node_modules/

# ignore any .env files
*.env

# ignore log files
*.log

# ignore build output
build/

# ignore temporary files
*.tmp

# ignore any files in the .idea directory
.idea/

# ignore any files in the __pycache__ directory
__pycache__/

# ignore any .mp4 files
*.mp4